*{
   font-family: 'Ubuntu', sans-serif;
}
body {
   box-sizing: border-box;
   background-color: #DAFFFB;
   margin: 0%;
}

a {
   text-decoration: none;
}

hr{
   background-color:#001C30;
   height: 2px;
}

.back_button {
   font-size: x-large;
   color:#DAFFFB;
   background-color: #213363;
   font-weight: bold;
   width: 160px;
   border-radius: 10px;
   border:none;
   height: 40px;
   transition: 0.3s;
   margin-bottom: 15px;
}

.back_button:hover {
   font-size: x-large;
   background-color: #3AA6B9;
   background-color: none;
   font-weight: bolder;
}

.delete_but {
   color: #7a4e25;
   font-weight: bold;
   transition: 0.3s;
}

.delete_but:hover {
   color: #B31312;
   font-weight: bold;
}

.td_p{
   width: 1000px;
}

.edit_but {
   color: #C2DEDC;
   font-weight: 700;
   transition: 0.3s;
}

.edit_but:hover {
   color: #090580;
   font-weight: 700;
}

.add_but {
   font-size: x-large;
   color:#DAFFFB;
   background-color: #213363;
   font-weight: bold;
   width: 230px;
   border-radius: 10px;
   border:none;
   height: 40px;
   transition: 0.3s;
   margin-bottom: 15px;
}

.add_but:hover {
   font-size: x-large;
   background-color: #3AA6B9;
   background-color: none;
   font-weight: bolder;
}

.name_th {
   font-weight: bold;
   font-size: x-large;
}

.tx_th {
   font-weight: bold;
   font-size: x-large;
}

.h2 {
   font-size: x-large;
   color: rgb(204, 204, 204);
}


.topic_top{
   margin: 2% 1.5%;
   padding: 0.5% 2%;
   background-color:#5A96E3;
}

.topic_title{
   font-weight: 700;
   color:#001C30;
}

h3 {
   color: #1F6E8C;
   font-size: 2em;
}

.theme_text {
   color: #213363;
   font-size: 1.5em;
   font-weight: 700;
}

.them_text {
   color: #213363;
   font-size: 3em;
   font-weight: 700;
   margin: 0;
}
.theme_text_in {
   color: #164B60;
   font-size: 1.5em;
}

/* Стили для класса "topic" */
.topic {
   margin: 2% 1.5%;
   background-color: #A1C2F1;
   padding: 0.5% 2%;
   
}

/* Стили для класса "themes" */
.themes {
   color: #2a2b2b;
   font-size: 28px;
   margin-bottom: 10px;
   /* Уменьшаем расстояние между h1 и ссылкой */
}

/* Стили для ссылки "Добавить статью" */
.topic a {
   /* Увеличиваем расстояние между ссылкой и topic_table */
   text-decoration: none;
   /* Убирает подчеркивание */
   color: inherit;
   /* Наследует цвет от родительского элемента */
}

/* Стили для класса "home" */
.home {
   position: fixed;
   /* Фиксированное позиционирование */
   display: flex;

   top: 0vh;
   /* Расстояние от нижней границы окна браузера */
   right: 0vh;
   /* Расстояние от правой границы окна браузера */
   align-items: center;
}

/* Стили для элемента "a" внутри класса "home" */
.home a {
   color: #2a2b2b;
   text-decoration: none;
   margin-right: 10px;
}

/* Стили для класса "topic_table" */
.topic_table {
   width: 100%;
   border-collapse: collapse;
   max-width: 300px;

}
.theme_edit_title{
   font-weight: 700;
   color:#213363;
}
.theme_edit_text{
   font-weight: 700;
   color:#FBFFDC;
}
/* Стили для заголовков таблицы */
.topic_table th {
   background-color: #4F709C;
   padding: 10px;
   text-align: left;
   color: aliceblue;
   font-size: xx-large;
   width: 100%;
}

/* Стили для ячеек таблицы */
.topic_table td {
   padding: 20px;
   background-color: #5A96E3;
   font-size: x-large;
   width: 1000px;
}

.main_activity_icon {
   width: 30px;
   height: 30px;
}

.tb {
   margin-top: 40px;
}

.blog {
   display: flex;
   position: fixed;
   justify-content: space-between;
   width: 260vh;
   left: 0vh;
   color: #2a2b2b;
   font-size: 28px;
   margin-bottom: 10px;
}

.blog h1 {
   align-self: flex-start;
}

.blog a {
   align-self: flex-end;
   font-size: 28px;
   text-decoration: none;
   color: inherit;
   color: #2a2b2b;
}

.img {
   right: 27vh;
   height: 7vh;
   top: 2.5vh;
}

.name {
   left: 0vh;
   top: 25vh;
}

.have {
   display: flex;
   left: 0vh;
   top: 35vh;
   align-items: center;
}

.btn {
   left: 10vh;
   top: 45vh;
   background: #26304a;
   color: white;
   font-size: xx-large;
}

.bg {
   max-height: 100%;
   max-width: 100%;
}

.btn:hover {
   color: rgb(0, 0, 0);
   background: #c0d1ff;
}

.main_title {
   size: 50vh;
}

.qwe {
   size: 50vh;
}

.container {
   display: flex;
   justify-content: center;
   height: 100vh;
   flex-direction: column;
}

table {
   border-collapse: separate;
   border-spacing: 10px;
}

.icon {
   height: 70px;
   width: 70px;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #001C30;
}

.navbar_icon {
   padding-left: 2%;
   display: flex;
   align-items: center
}

.navbar_text {
   font-size: 2.5em;
   color: #DAFFFB;
   font-weight: 700;
   text-transform: uppercase;
}

.navbar_text-admin {
   font-size: 1.5em;
   color: rgb(1, 109, 204);
   padding-right: 2%;
}

.new_theme {
   display: flex;
   justify-content: center;
   height: 100vh;
}

.title_the {
   font-weight: bold;
   font-size: xx-large;
   color: rgb(0, 0, 0);
}